<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198957984748-rveffmhflvuvjvp0gdso61oikd1ugurk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198957984748-rveffmhflvuvjvp0gdso61oikd1ugurk</string>
	<key>API_KEY</key>
	<string>AIzaSyDueilZH1EW4tg5IqCqy63ufdUhm3HEAGc</string>
	<key>GCM_SENDER_ID</key>
	<string>198957984748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudPractice</string>
	<key>PROJECT_ID</key>
	<string>crud-practice-af8ea</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-practice-af8ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198957984748:ios:ca6e0aeadb60665bfe2ec9</string>
	<key>DATABASE_URL</key>
	<string>https://crud-practice-af8ea-default-rtdb.firebaseio.com</string>
</dict>
</plist>